@import '../variable.scss';

.base-second{
    height:100vh;
    background:$grey;
}

@media only screen and (max-width: $phone) {
    .base-second{
     height:100vh;
    } 
    .wrapper{
        .nav-link{
            font-size: 12px;
        }
     }
 } 

 