@import "../variable.scss";

@media only screen and (max-width: $phone) {
  .youtube{
    .row{
      margin-top: 10%;
    }
  }
}

.youtube{
  .row{
    margin-top: 20px;
  }
}

.sub{
  text-align: center;
  color:$pink;
  border-bottom: 1px solid pink;
}

.list-group{
  border: 1px solid $pink;
  padding:0;
  .list-group-item{
    color:white;
    background-color: $grey;
  }
  .list-group-item:hover{
    background-color: $pink;
    color:$grey;
  }
  .list-group-item:active{
    background-color: $pink;
    color:$grey;
  }
}
